<app-navbar></app-navbar>
<div [ngClass]=" this.themeService.getTheme() === true ? 'card-dark card': 'card' " style="width: 18rem;">
  <img class="card-img-top" [src]="product.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span
        [ngClass]=" this.themeService.getTheme() === true ? 'input-group-text input-group-text-dark': 'input-group-text' "
        id="inputGroup-sizing-sm">$</span>
    </div>
    <input type="number"
      [ngClass]=" this.themeService.getTheme() === true ? 'form-control form-control-dark': 'form-control' "
      aria-label="Sizing example input" [value]="product.price" aria-describedby="inputGroup-sizing-sm" disabled>
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span
        [ngClass]=" this.themeService.getTheme() === true ? 'input-group-text input-group-text-dark': 'input-group-text' "
        id="inputGroup-sizing-sm">Quantity in Stock</span>
    </div>
    <input type="number"
      [ngClass]=" this.themeService.getTheme() === true ? 'form-control form-control-dark': 'form-control' "
      aria-label="Sizing example input" [value]="product.quantity" aria-describedby="inputGroup-sizing-sm" disabled>
  </div>
  <div class="card-body">
    <button [ngClass]=" this.themeService.getTheme() === true ? 'button-28-dark button-28': 'button-28' "
      (click)="addToCart(product)">Add to Cart</button>
    <button [ngClass]=" this.themeService.getTheme() === true ? 'button-28-dark button-28': 'button-28' ">
      Add to Wishlist</button>
  </div>
</div>


<div class="review-wrapper">
  <!-- User Rating -->
  <div class="row">
    <h2>User Rating:</h2>
    <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
  </div>

  <!-- User Reviews -->
  <div  class="row">
    <h2>User Reviews</h2>

  </div>
</div>
