<app-navbar></app-navbar>
<div class="container">
    <div>
        <p style="position: relative; left: 146px; font-size: 30px;"> Order Details </p>

        <p style="position: relative; left: 146px;"> Order number: {{order.id}} </p>
        <p style="position: relative; left: 146px;"> Ordered on {{formattedDate(order.date)}} </p>

        <br>

        <div class="group">
            <div class="my-row">
                <div class="contents">
                    <p style="padding-top: 8px; font-weight: bold;">Billing Information</p>
                    <p> {{order.name}}</p>
                    <p> {{order.street | uppercase}} </p>
                    <p> {{order.city | uppercase}}, {{order.state | uppercase}} {{order.zip}}</p>
                    <p style="padding-bottom: 8px;">United States</p>
                </div>

                <div class="contents" style="position: relative; left: 70px;">
                    <p style="padding-top: 8px; font-weight: bold;">Payment Method</p>
                    <p style="padding-bottom: 8px;"> **** {{order.lastDigitsCardNo.substring(4)}} </p>
                </div>

                <div class="contents" style="margin-left: auto; padding-right: 15px;">
                    <p style="padding-top: 8px; font-weight: bold;">Order Summary</p>
                    <p> Item(s) Subtotal: ${{order.costOfItems}} </p>
                    <p> Shipping: ${{order.costOfShipping}} </p>
                    <p> Tax: ${{order.tax}} </p>
                    <p style="padding-bottom: 8px; font-weight: bold;">Grand Total: ${{order.totalCost}}</p>
                </div>
            </div>
        </div>

        <div class="group">
            <div *ngFor="let item of order.items">
                <app-order-card [productLink]="'/' + item.name + '/details'" [productInfo]="item.product" class="cardListItem" [orderItem]="item"></app-order-card> 
            </div>
        </div>

        <a routerLink="/orders" style="position: relative; left: 146px;">Back to order history</a>

        <br>
        <br>
        <br>
    </div>
</div>