<div [ngClass]=" this.themeService.getTheme() === true ? 'my-card-dark': 'my-card' " style="width: 100%;">
  <div class="my-row">
    <div class="left">
      <img [src]="orderItem.productImage">
  </div>
  
  <div class="right">
      <a [routerLink]="productLink" class="card-title" (click)="getProductDetails()">{{orderItem.productName}}</a>
      <p class="card-text">{{orderItem.productDescription}}</p>
      <p [ngClass]=" this.themeService.getTheme() === true ? 'cost-dark': 'cost' ">${{orderItem.productPrice}}</p>
      <p>Quantity: {{orderItem.productQuantity}}</p>
  </div>
  </div>
</div>