<app-navbar></app-navbar>
<div class="container">
    <div>
        <p style="position: relative; left: 154px; font-size: 30px;"> Order History </p>

        <br>

       <div *ngFor="let order of orderService.orders">
            <div class="group" style="position: relative; left: 8px;">
                <div [ngClass]=" this.themeService.getTheme() === true ? 'header-dark': 'header' ">
                    <div class="my-row">
                        <div class="contents">
                            <p class="title">ORDER PLACED</p>
                            <p>{{formattedDate(order.date)}}</p>
                        </div>

                        <div class="contents" style="padding-left: 15px;">
                            <p class="title">TOTAL</p>
                            <p>${{order.totalCost}}</p>
                        </div>

                        <div class="contents" style="position: absolute; right: 0; padding-right: 15px; text-align: right;">
                            <p class="title">ORDER NUMBER</p>
                            <p style="position: relative; text-align: right;">{{order.id}}</p>
                        </div>
                    </div>
                </div>

                <div *ngFor="let item of order.items">
                    <app-order-card class="cardListItem" [productLink]="'/' + item.product + '/details'" [productInfo]="item.product" [orderItem]="item"></app-order-card> 
                </div>

                <div [ngClass]=" this.themeService.getTheme() === true ? 'header-dark': 'header' ">
                    <a [routerLink]="['/order-details']" [queryParams]="{id: order.id}">View order details</a>
                </div>
            </div>
        </div> 
    </div>
</div>

<div *ngIf="empty" class="empty"> You haven't placed any orders </div>

<br>
<br>
<br>